{% extends "layout.html" %}

{% block content %}


    <div class="card-header">
        <h4>Nueva Empresa</h4>
    </div>

    <div class="form-car">
        <form action="/store" method="POST">
            
            <div class="mb-3">
                <label>Nombre</label>
                <input type="text" name="nombre" class="form-control" required>
            </div>

            <div class="mb-3">
                <label>Dirección</label>
                <input type="text" name="direccion" class="form-control">
            </div>

            <div class="mb-3">
                <label>Teléfono</label>
                <input type="number" name="telefono" class="form-control">
            </div>

            <div class="mb-3">
                <label>Correo</label>
                <input type="email" name="correo" class="form-control">
            </div>

            <div class="mb-3">
                <label>NIT</label>
                <input type="number" name="nit" class="form-control">
            </div>

            <button class="btn-save-space"><i class="fa fa-save"></i> Guardar</button>
            <a href="/" class="btn">Cancelar</a>

        </form>
    </div>
</div>

{% endblock %}
